<nav>
    <div>
        <a href="{% url 'home' %}">Mi Aplicación</a>
        <div>
            <div class="nav-options">
                {% if user.is_authenticated %}
                    <div>
                        <a href="{% url 'logout' %}">Cerrar sesión</a>
                    </div>
                {% else %}
                    <div>
                        <a href="{% url 'login' %}">Iniciar sesión</a>
                    </div>
                    <div>
                        <a href="{% url 'register' %}">Registrarse</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
