
    <nav>
        <div>
            <a href="{% url 'home' %}">Mi Aplicación</a>
            <div>
                <ul>
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'logout' %}">Cerrar sesión</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'login' %}">Iniciar sesión</a>
                        </li>
                        <li>
                            <a href="{% url 'register' %}">Registrarse</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>