
    <nav>
        <div>
            <a href="{% url 'home' %}">Mi Aplicación</a>
            <div>
                <ul>
                    {% if user.is_authenticated %}
                    <li>
                        <form method="post" action="{% url 'logout' %}" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-link nav-link" style="display:inline; padding:0;">Cerrar sesión</button>
                        </form>
                    </li>
                    {% else %}
                        <li>
                            <a href="{% url 'login' %}">Iniciar sesión</a>
                        </li>
                        <li>
                            <a href="{% url 'register' %}">Registrarse</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>